// import 된 파일이 변경 사항이 있으면 scss watching을 껐다 켜 봐야함
@import "mixin";
@import "variables";


/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
}

body {
  @include default;
  height: 100vh;
  display: grid;
  justify-content: center;
}

/* Portfolio Section */
.portfolio {
  margin: 15px;
  h1 {
    @include heading;
    font-size: $font-base * 5;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    // grid-row-gap: 15px;
    // grid-column-gap: 15px;
    div {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      position: relative;
      a {
        img {
          width: 100%;
          // 이미지 block으로 하면서 위아래로 이미지를 가득 채움
          display: block;
        }
      }
      i {
        font-size: $font-base * 3;
        color: $color-base;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
      }
      span {
        color: $color-base;
        position: absolute;
        bottom: -40px;
        width: 100%;
        text-align: center; 
        padding: 10px;
      }
      span, i, &::before{
        transition: 0.35s;
        // 밑에 있는 a 태그가 가려져서 작동 안하는 것을 방지 
        // "마우스 이벤트를 받지마!"라는 명령을 하는 것임
        pointer-events: none;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
      }
      &:hover i{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      &:hover span{
        bottom: 0;
      }
    }
    .focus {
      // 아래 두가지를 한줄로 표현가능
      // grid-column: span 2;
      // grid-row: span 2;
      grid-area: span 2 / span 2;
    }
  }
}

// 보통 반응형 할때 Responsive.css를 만들어서 관리하는게 좋다.
/* Tablet Breakpoint */
// 아이페드 pro가 1366까지 나오기 때문에 1024에서 더 고려해서 변경함
@media (min-width: 768px) and (max-width: 1366px) {
  
  body {
    height: auto;
  }

.portfolio {
    h1 {
      font-size: $font-base * 4;
    }
    .items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
/* Mobile Breakpoint */
@media (max-width: 768px) {
  body {
    height: auto;
  }

.portfolio {
    h1 {
      font-size: $font-base * 2.5;
    }
    .items {
      grid-template-columns: repeat(2, 1fr);
      // .focus {
      //   grid-area: span 1 / span 1;
      // }
    }
  }
}

/* fatherlight Custom CSS */
.featherlight .featherlight-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-height: 100% !important;
  width:100%;
  height: 100%;
}
.featherlight .featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight .featherlight-close-icon{
  top:90% !important;
  left: 30px !important;
  left: 50% !important;
  transform: translateX(-50%);
  line-height: 50px !important;
  width: 50px !important;
  font-size: 28px;
  background-color: crimson !important;
  color: #fff !important;
  border-radius: 50%;
}
